<!DOCTYPE html>
<html>
    <head>
        <title>ToDO List</title>    
    </head>
    <body>
        <div>
            <h1>ToDO List</h1>
            <form action="/addTask" method="post">
                <div>
                    <input type="text" name="task">
                </div>
                <button type="submit">Add</button>
            </form>
            <hr>
            <div>
                <ul>
                    <% tasks.forEach(function(task) { %>
                    <li><%= task.id %>. <%= task.title %></li><br>
                    <% }); %>
                </ul>	
            </div>
        </div>
    </body>
</html> 